@model IEnumerable<dapper2MVC.Models.User.UserView>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="User" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceBookUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedInUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwitterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalWebUrl)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceBookUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedInUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalWebUrl)
            </td>
           
            <td>
                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.UserId"><i class="fas fa-edit"></i></a>
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.UserId"><i class="fas fa-eye"></i></a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.UserId"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
